<!-- navbar.ejs -->
<%- include('_style')  %>

<div class="navbar-container" style="border: 2px;" >
    <nav class="navbar-menu" >
        <a href="/">HOME</a>
        <a href="/stores/add">Add New Store</a>
       
        <a href="/employees">Employees</a>
    </nav>
</div>
