<!-- navbar.ejs -->
<%- include('_style')  %>

<div class="navbar-container" style="border: 2px;" >
    <nav class="navbar-menu" >
        <a href="/">HOME</a>
        <a href="/stores/add">ROUTES</a>
       
        <a href="/employees">ENAK NYA APA YA</a>
    </nav>
</div>
