<!-- navbar.ejs -->
<%- include('_style')  %>

<div class="navbar-container" style="border: 2px;" >
    <nav class="navbar-menu" >
        <a href="/">HOME</a>
        <a href="/">USERS DATA</a>
       
        <a href="/usersBook">CARS DATA</a>
    </nav>
</div>
