<!DOCTYPE html>
<html>
<head>
  
  <title>Add New Art</title>
  <%- include('_style.ejs') %>

</head>
<body>
  <%- include ('_navbar') %>
  <br>
  <body>
    <br>
    <div class="containerForm">

      <h1 style="font-size: large;">Create New Store</h1>
      <h5>Please fill the form below to add a new store</h5>

      <form action="/stores/add" method="post">

        <div class="input-group">
          <label for="name">What is the name of your store?</label>
          <input type="text" name="name" required />
        </div>

        <div class="input-group">
          <label for="artist">Where does your store located?</label>
          <input type="text" name="location" required />
        </div>

        <div class="input-group">
            <label for="storeType">What kind of store do you want?</label>
            <input type="radio" name="category" value="Smart" required /> Mart
            <input type="radio" name="category" value="Midi" required /> Midi 
            <input type="radio" name="category" value="Express" required /> Express
          </div>
        <br>

        <div class="center-button">
            <button type="submit">Submit</button>
        </div>
      </form>
      <br>
    </div>
    <br>
  </body>
</body>
</html>
