<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEWA AMBULANCE</title>
    <%- include('_style2')  %>
    <%- include('_navbar')  %>

   
</head>
<body>
    <h1 class="navbar-menu text-3xl font-bold underline">
        <a style="text-align: center; font-size: 34px;">SEWA AMBULANCE</a>
    </h1>

    <div class="container">
        <div class="table">
            <div class="table-cell">
                <img class="img-container" src="https://mawrent.com/wp-content/uploads/2022/11/sewa-brio-di-bali.jpg" alt="">
                <p>Price: $XX.XX</p>
                <a href="#">Book Now</a>
            </div>
            <div class="table-cell">
                <img class="img-container" src="https://mawrent.com/wp-content/uploads/2022/11/sewa-swift-di-bali.jpg" alt="">
                <p>Price: $XX.XX</p>
                <a href="#">Book Now</a>
            </div>
            <div class="table-cell">
                <img class="img-container" src="https://mawrent.com/wp-content/uploads/2022/11/sewa-innova-reborn-di-bali.jpg" alt="">
                <p>Price: $XX.XX</p>
                <a href="#">Book Now</a>
            </div>
        </div>
    </div>
</body>
</html>
